* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
}

#PRTFL-first {
  background-image: url(../PHOTO/bg_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10rem 0;
}

#PRTFL-first .text {
  text-align: center;
}

#PRTFL-first .text a {
  color: #8DB1AB;
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
}

#PRTFL-first .text span {
  color: #8DB1AB;
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1rem;
}

#PRTFL-first .text h3 {
  color: #fff;
  font-size: 50px;
}

#Portfolio-main {
  padding: 1rem;
}

#Portfolio-main .box {
  margin-bottom: 2rem;
}

#Portfolio-main .box .bx-img {
  position: relative;
}

#Portfolio-main .box .bx-img:hover i, #Portfolio-main .box .bx-img:hover::after {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0.8;
}

#Portfolio-main .box .bx-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

#Portfolio-main .box .bx-img i {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background-color: #8DB1AB;
  padding: 1rem;
  font-size: 16px;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#Portfolio-main .box .bx-img img {
  width: 100%;
  height: 220px;
}

#Footer {
  padding: 2rem 0;
}

#Footer .top .box h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2rem;
}

#Footer .top .box p {
  color: #000000e6;
  font-size: 16px;
  font-weight: 500;
}

#Footer .top .box a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: 600;
  -webkit-transition: .4s;
  transition: .4s;
}

#Footer .top .box a:hover {
  color: #8DB1AB;
}

#Footer .top .box i {
  background-color: #F8F9FA;
  padding: 1.3rem;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

#Footer .top .box i:hover {
  -webkit-transform: translate(-20px);
          transform: translate(-20px);
  background-color: #8DB1AB;
  border-radius: 100%;
}

#Footer .bottom {
  margin-top: 7rem;
  text-align: center;
}

#Footer .bottom i {
  color: red;
}

#Services-first {
  background-image: url(../PHOTO/bg_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10rem 0;
}

#Services-first .text {
  text-align: center;
}

#Services-first .text a {
  color: #8DB1AB;
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
}

#Services-first .text span {
  color: #8DB1AB;
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1rem;
}

#Services-first .text h3 {
  color: #fff;
  font-size: 50px;
}

#Services-second {
  padding: 8rem 0;
}

#Services-second .box {
  text-align: center;
}

#Services-second .box i {
  font-size: 60px;
  margin: 2rem 0;
}

#Services-second .box h4 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 2rem;
}

#Services-second .box p {
  color: #000000e6;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

#About-first {
  margin: 5rem;
}

#About-first .box {
  text-align: center;
}

#About-first .box i {
  font-size: 50px;
  margin-bottom: 2rem;
}

#About-first .box h6 {
  font-size: 18px;
  letter-spacing: 1px;
}

#About-second .left-box img {
  width: 100%;
  height: 600px;
}

#About-second .right-box h4 {
  font-size: 20px;
  font-weight: 600;
  color: #8DB1AB;
}

#About-second .right-box h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 2rem 0;
  line-height: 1.2;
}

#About-second .right-box p {
  font-size: 16px;
  color: #999999;
  font-weight: 500;
}

#About-second .right-box h3 {
  font-size: 19px;
  font-weight: 600;
  color: #000000;
}

#About-second .right-box .color-1 {
  background-color: #8DB1AB;
}

#About-third {
  margin: 8rem 0;
  background-image: url(../PHOTO/bg_1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 10rem 0;
  position: relative;
}

#About-third::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #141B25;
  opacity: 0.9;
}

#About-third .all i {
  color: #fff;
  font-size: 28px;
  padding: 2rem;
  border-radius: 100%;
  background-color: #31373F;
}

#About-third .all h2 {
  font-size: 16px;
  color: #fff;
}

#About-third .all div {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

#About-fourth .all {
  padding: 1rem;
}

#About-fourth .all .box {
  margin-bottom: 2rem;
}

#About-fourth .all .box .bx-img {
  position: relative;
}

#About-fourth .all .box .bx-img:hover i, #About-fourth .all .box .bx-img:hover::after {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0.8;
}

#About-fourth .all .box .bx-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

#About-fourth .all .box .bx-img i {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background-color: #8DB1AB;
  padding: 1rem;
  font-size: 16px;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#About-fourth .all .box .bx-img img {
  width: 100%;
}

#Blog-main {
  background-color: #F7F7F7;
  margin: 10rem 0;
}

#Blog-main .box {
  background-color: #fff;
  position: relative;
}

#Blog-main .box .top {
  margin-bottom: 5rem;
}

#Blog-main .box .top img {
  width: 100%;
  height: 170.22px;
}

#Blog-main .box .bottom {
  margin: 3rem 0;
}

#Blog-main .box .bottom h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

#Blog-main .box .bottom p {
  color: #505050;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

#Blog-main .box .m-text {
  position: absolute;
  left: 3rem;
  top: 14rem;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 10px;
  background-color: #8DB1AB;
}

#Contact-first {
  margin: 10rem 0;
}

#Contact-first .all {
  background-color: #fff;
  border-radius: 30px;
}

#Contact-first .all .left-box {
  padding: 2rem 5rem;
}

#Contact-first .all .left-box h4 {
  font-size: 32px;
  color: #000;
  margin: 2rem 0;
}

#Contact-first .all .left-box p {
  font-size: 16px;
  color: #999999;
  font-weight: 500;
}

#Contact-first .all .left-box h5 {
  font-weight: 600;
}

#Contact-first .all .left-box span {
  font-weight: 600;
}

#Contact-first .all .left-box .bottom {
  margin-top: 2rem;
}

#Contact-first .all .left-box .bottom input {
  border: none;
  border-bottom: 1px solid #c2d3ff;
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px 0;
  outline: none;
}

#Contact-first .all .left-box .bottom input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom input:-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom input::-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom input::placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom textarea {
  border: none;
  border-bottom: 1px solid #c2d3ff;
  width: 100%;
  height: 130px;
  margin-bottom: 1rem;
  padding: 10px 0;
  outline: none;
  margin-bottom: 3rem;
}

#Contact-first .all .left-box .bottom textarea::-webkit-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom textarea:-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom textarea::-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom textarea::placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom a {
  padding: 10px 20px;
  background-color: #8DB1AB;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

#Contact-first .all .left-box .bottom h4 {
  margin-top: 6rem;
  font-size: 20px;
  font-weight: 600;
}

#Contact-first .all .left-box .bottom span {
  margin-right: 1rem;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#Contact-first .all .right-box img {
  width: 100%;
  height: 825px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#Contact-first {
  margin: 10rem 0;
}

#Contact-first .all {
  background-color: #fff;
  border-radius: 30px;
}

#Contact-first .all .left-box {
  padding: 2rem 5rem;
}

#Contact-first .all .left-box h4 {
  font-size: 32px;
  color: #000;
  margin: 2rem 0;
}

#Contact-first .all .left-box p {
  font-size: 16px;
  color: #999999;
  font-weight: 500;
}

#Contact-first .all .left-box h5 {
  font-weight: 600;
}

#Contact-first .all .left-box span {
  font-weight: 600;
}

#Contact-first .all .left-box .bottom {
  margin-top: 2rem;
}

#Contact-first .all .left-box .bottom input {
  border: none;
  border-bottom: 1px solid #c2d3ff;
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px 0;
  outline: none;
}

#Contact-first .all .left-box .bottom input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom input:-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom input::-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom input::placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom textarea {
  border: none;
  border-bottom: 1px solid #c2d3ff;
  width: 100%;
  height: 130px;
  margin-bottom: 1rem;
  padding: 10px 0;
  outline: none;
  margin-bottom: 3rem;
}

#Contact-first .all .left-box .bottom textarea::-webkit-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom textarea:-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom textarea::-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom textarea::placeholder {
  color: #999999;
  font-weight: 500;
  font-size: 16px;
}

#Contact-first .all .left-box .bottom a {
  padding: 10px 20px;
  background-color: #8DB1AB;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

#Contact-first .all .left-box .bottom h4 {
  margin-top: 6rem;
  font-size: 20px;
  font-weight: 600;
}

#Contact-first .all .left-box .bottom span {
  margin-right: 1rem;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#Contact-first .all .right-box img {
  width: 100%;
  height: 825px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#bdy {
  overflow-x: hidden;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}

@media (max-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
  #Header .bottom {
    display: none;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
  #Header #Phone-header {
    display: none;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

#Home #Header {
  padding: 1rem 0;
}

#Home #Header .top {
  text-align: center;
}

#Home #Header .top i {
  color: #fff;
  background-color: #8DB1AB;
  padding: 2rem;
  font-size: 28px;
  border-radius: 100%;
  cursor: pointer;
}

#Home #Header .top h3 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: 600;
}

#Home #Header .top p {
  margin-top: -10px;
  color: #8DB1AB;
  font-weight: 600;
  font-size: 12px;
}

#Home #Header .bottom {
  text-align: center;
  padding: 1rem 0;
}

#Home #Header .bottom .bt-head a {
  margin-right: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  -webkit-transition: .4s;
  transition: .4s;
}

#Home #Header .bottom .bt-head a:hover {
  color: #8DB1AB;
  -webkit-transition: .4s;
  transition: .4s;
}

#Home #Header #Phone-header {
  background-color: #141B25;
  padding: 1rem 0 1rem 2rem;
}

#Home #Header #Phone-header i {
  color: #fff;
  cursor: pointer;
}

#Home #Header #Phone-header i span {
  text-transform: uppercase;
  font-weight: 500;
}

#Home #Header #Phone-header .menu-alt {
  display: none;
  padding: 2rem 0;
}

#Home #Header #Phone-header .menu-alt a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

#Home #Header #Phone-header .menu-alt a:hover {
  color: #8DB1AB;
}

#Home #Header hr {
  background-color: #8DB1AB;
  border: 1px solid #8DB1AB;
}

#Home #Slides-modal img {
  width: 100%;
  height: 550px;
}

#Home #main {
  padding: 1rem;
}

#Home #main .box {
  margin-bottom: 2rem;
}

#Home #main .box .bx-img {
  position: relative;
}

#Home #main .box .bx-img:hover i, #Home #main .box .bx-img:hover::after {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0.8;
}

#Home #main .box .bx-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

#Home #main .box .bx-img i {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background-color: #8DB1AB;
  padding: 1rem;
  font-size: 16px;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#Home #main .box .bx-img img {
  width: 100%;
  height: 220px;
}

#Home hr {
  background-color: #8DB1AB;
  border: 1px solid #8DB1AB;
}

#Home #Footer {
  padding: 2rem 0;
}

#Home #Footer .top .box h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2rem;
}

#Home #Footer .top .box p {
  color: #000000e6;
  font-size: 16px;
  font-weight: 500;
}

#Home #Footer .top .box a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: 600;
  -webkit-transition: .4s;
  transition: .4s;
}

#Home #Footer .top .box a:hover {
  color: #8DB1AB;
}

#Home #Footer .top .box i {
  background-color: #F8F9FA;
  padding: 1.3rem;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

#Home #Footer .top .box i:hover {
  -webkit-transform: translate(-20px);
          transform: translate(-20px);
  background-color: #8DB1AB;
  border-radius: 100%;
}

#Home #Footer .bottom {
  margin-top: 7rem;
  text-align: center;
}

#Home #Footer .bottom i {
  color: red;
}

#bdy {
  background-color: #F7F7F7;
}
/*# sourceMappingURL=style.css.map */